.btn-course {
    font-size: 16px;
    margin-top: 5px;
    padding: 8px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    border: 1px solid orangered;
    margin-bottom: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-course:hover {
    background-color: rgb(255, 140, 0);
    border-color: rgb(255, 30, 0);
  }
  
  .active-btn {
    background-color: rgb(255, 81, 0) !important;
    border-color: red !important;
  }
  
  .btn-export {
    font-size: 16px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-export:hover{
    background-color: #3b91db;
    border-color: #094277;
  }
  
  .btn-export:disabled {
    background-color: #cccccc;
    border-color: #353535;
    color: #666666;
    cursor: not-allowed;
  }
  
  .btn-import {
    font-size: 16px;
    float: right;
    position: absolute;
    top: 10px;
    right: 105px;
    color: white;
    font-weight: bold;
    border: 1px solid #047c00;
    background: #27da21;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-import:hover{
    background-color:#1aba18;
    border-color: #036700;
  }
  
  .btn-import:disabled {
    background-color: #cccccc;
    border-color: #353535;
    color: #666666;
    cursor: not-allowed;
  }
  
  .btn-clear {
    font-size: 16px;
    float: right;
    position: absolute;
    top: 10px;
    right: 192px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-clear:hover {
    background-color: #c2124f;
    border-color: #7d014a;
  }
  
  .btn-clear:disabled {
    background-color: #cccccc;
    border-color: #353535;
    color: #666666;
    cursor: not-allowed;
  }
  
  .btn-new-schema 
  {
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
    background-color: #4ea9ff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 270px;
    border: 1px solid #0e5ba3;
    margin-bottom: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-new-schema:hover 
  {
    background-color: #3b91db;
    border-color: #094277;
  }
  
  .btn-new-schema:disabled {
    background-color: #cccccc;
    border-color: #353535;
    color: #666666;
    cursor: not-allowed;
  }
  
  .btn-save-schema{
    font-size: 16px;
    margin-top: 20px;
    padding: 8px;
    background-color: #27da21;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 270px;
    border: 1px solid #047c00;
    margin-bottom: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .btn-save-schema:hover{
    background-color:#1aba18;
    border-color: #036700;
  }
  
  .wrapper-buttons {
    text-align: center;
  }
  
  .btn-save-schema:disabled {
    background-color: #cccccc;
    border-color: #353535;
    color: #666666;
    cursor: not-allowed;
  }

  #schema-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #schema-buttons button {
    text-align: center;
    display: block;
    width: 270px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #e6f0ff;
    color: #333;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  #schema-buttons button:hover {
    background-color: #cce0ff;
    transform: scale(1.02);
  }
  
  #schema-buttons button.active {
    background-color: #4ea9ff;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px #4ea9ff;
  }
  
  .btn-lock {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 140px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
  }
  
  .bar-zoom {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
  }
  .bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
  }
  .bar-zoom svg:nth-child(1) {
    padding-left: 0px;
  }